/* gfont import  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.carousel-item img {
    height: 85vh;
}

.caption-position {
    bottom: 20%;
}

.caption-head-size {
    font-size: calc(1.525rem + 3.3vw);
    font-weight: 300;
    line-height: 1.2;
}